* {
    font-family: 'Gabriela', sans-serif;
    font-weight: 100;
}

body {
    background: linear-gradient(circle, #fff, #bbb);
    padding: 15px;
    display: flex;
}

.grid-container {
    outline: 3px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div:first-child:hover > .absolute {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    position: relative;
    overflow: hidden;
}

div {
    transition: background 0.3s;
}

b {
    transition: opacity 0.3s;
    opacity: 0;
    display: inline-block;
}

b:first-child {
    position: relative;
    top: 10px;
}

b:nth-child(2) {
    position: relative;
    top: -10px;
}

div:first-child:hover > .absolute b{
margin: auto;
color: #fff;
font-size: 70px;
transform: scaleY(1.1);
opacity: 1;
}

b:hover {
    color: #999 !important;
}


/*img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}*/

img:first-child::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

img:nth-child(6){
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

img:nth-child(10) {
    grid-row: span 3;
}