body {
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after *::before {
  box-sizing: inherit;
}

input[type="text"] {
  box-sizing: border-box;
  border: thin solid var(--border-color);
  border-radius: 50px;
  padding: .75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

button,
input[type="submit"],
input[type="reset"] {
  border: thin solid #444;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 00;
  display: inline-block;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

form {
  margin-bottom: 3rem;
}

article {
  padding: 20px;
}

hr {
  margin: 2rem auto;
  background-color: var(--primary-color);
  color: var(--primary-color);
  background: var(--primary-color);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
}

/* tr {
  border: thin solid #aaa;
  text-align: center;
}

td {
  border: thin solid #444;
}

thead > tr, th {
  border: 2px solid #444;
} */

@media screen and (min-width: 1024px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
  }

  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    gap: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0f111a;
    --text-color: #fff;
    --primary-color: #8bc34a;
    --message-color: #000;

  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eee;
    /* --text-color: #fff; */
    /* --primary-color: #8bc34a; */
    --table-color: #1b8829;
    --border-color: #1b8829;
    --message-color: #fff;
  }
}