
* {
    font-family: 'Fira Mono', sans-serif;
    font-weight: 400;
}

body {
    background: radial-gradient(circle, #fff, #bbb);
    padding: 20px;
}

.grid-container {
    display: grid;
    /*grid-template-columns: repeat(3, max-content);*/
    /*grid-template-columns: repeat(3, minmax(100px, 200px));*/
    /*grid-template-columns: repeat(3, minmax(min-content, 200px));*/
    /*grid-template-columns: repeat(3, minmax(120px, 1fr));*/

    grid-template-columns: repeat(3, 1fr);

    /*CON ESTO LO QUE HACEMOS ES QUE SIGAN GENERANDO COLUMNAS QUE CUMPLA CON ESTAS PROPIEDADES (LAS DEL minmax)*/
    /*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background-color: #333;
    grid-auto-flow: dense;
    /*justify-items: center;
    align-items: center;*/
    justify-content: center /*space-evenly*/;
    align-content: center /*space-evenly*/;
    height: 600px;
    align-items: center;
    justify-items: center;
}

.grid-item {
    border: 1px solid #000;
    background-color: #999;
    font-size: 30px;
    padding: 50px;
}

.grid-item:first-child {
    background: red;
    order: 3;
}

.grid-item:nth-child(3) {
    background: lightgreen;
    order: 2;
}

/*.grid-item:first-child {
    align-self: flex-start;
    justify-self: start;
    background: red;
}

.grid-item:nth-child(3) {
    align-self: flex-start;
    justify-self: end;
    background: red;
}

.grid-item:nth-child(4) {
    justify-self: end;
}

.grid-item:nth-child(5){
    background: lightgreen;
}

.grid-item:nth-child(6) {
    justify-self: start;
}

.grid-item:nth-child(7){
    align-self: flex-end;
    justify-self: start;
    background: red;
}

.grid-item:last-child{
    align-self: flex-end;
    justify-self: end;
    background: red;
}*/