<div class="card-header mt-4 bg-light p-5">
  <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
    rem excepturi quos corrupti suscipit non qui,</p>
  <hr />
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos consequuntur
    quasi enim quae. Consequatur natus mollitia quibusdam laboriosam, aspernatur
    quis ipsum enim dignissimos voluptas sed, sint eveniet inventore
    reprehenderit voluptatibus.</p>
  <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>