* {
  font-family: "Lobster", cursive;
  font-size: 20px;
  font-weight: 100px;
}

.container {
  /*float: left;*/
}

.container div {
  float: right;
}

.primario {
  background: red;
  width: 70%;
}

.secundario {
  background: yellow;
  width: 30%;
}

























.cont {
  margin: auto;
  margin-top: 50px;
  border: 4px solid red;
  background: grey;
  width: 50%;
  padding: 10px;
}

.cont p {
  width: 50%;
}

.cont img {
  float: left;
  width: 400px;
  height: 200px;
  margin: 10px;
}


