* {
  font-family: "Sarala";
  font-size: 20px;
}


:root {
  --color-rojo-claro: #f44;
  --color-azul-claro: #66f;
}

div {
  padding: 30px;
  height: 150px;
  width: 150px;
  margin: 30px;
}

p {
  --color-azul-claro: #000;
  height: 100px;
  width: 100px;
  background: var(--color-azul-claro);
}

.container {
  background: var(--color-rojo-claro);
}

.container-2 {
  background: var(--color-azul-claro);
}


